//IDなどの幅は小さく固定したい


body {
	background-color: #ffcc66;
}

.header {
	text-align: left;
	font-size: 15px;
    font-family: "Meiryo";
}

list-contents {
}

table{
  width: 100%;
  border-collapse:separate;
  border-spacing: 1px;
  border-radius: 5px;
  background: black;
}

table th{
  text-align: center;
  color:black;
  background: linear-gradient(#ffe033, #ffee99);
  border-left: 1px solid #3c6690;
  border-top: 1px solid #3c6690;
  border-bottom: 1px solid #3c6690;
  box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
  width: 10%;
  padding: 10px 0;
}

table th:first-child{
  border-radius: 5px 0 0 0;
}

table th:last-child{
  border-radius: 0 5px 0 0;
  border-right: 1px solid #3c6690;
}


table tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}

table tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}

table td{
  text-align: center;
  color:black;
  background: white;
  border-left: 1px solid #a8b7c5;
  border-bottom: 1px solid #a8b7c5;
  border-top:none;
  box-shadow: 0px -3px 5px 1px #eee inset;
  padding: 10px 0;
}

label {
	display: block;
}

errorMessages {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: red;
}